body {
    font-family: Verdana;
}

header {
    padding: 20px;
    background: black;
    color: white;
    font-size: 2em;
    text-align: right;
}

section {
    display: flex;
}

article {
    padding: 10px;
    text-align: center;
    width: 100%;
}

#articulo-1 {
    background: #7ebdbb;
}

#articulo-2 {
    background: #b6ebb3;
}

#articulo-3 {
    background: #bacee3;
}

p {
    text-align: justify;
}

h1 {
    text-align: center;
}

img {
    width: 100%;
    height: 250px;
}