.box {
    width: 200px;
    height: 200px;
    border: solid;
}

.caja1 {
    background: linear-gradient(red, yellow);
    border-radius: 100px;
}

.caja2 {
    background: linear-gradient(to right, blue, violet);
}

.caja3 {
    background: linear-gradient(to bottom right, #00ff48, yellow, #eb5a5a);
}

.caja4 {
    background: linear-gradient(-45deg, rgb(22, 18, 11), rgb(220, 152, 52));
}

.caja5 {
    background: linear-gradient(rgb(115, 7, 129), rgb(30, 70, 201), rgb(202, 127, 14));
}

.caja6 {
    background: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 1));
}

.caja7 {
    background: repeating-linear-gradient(red, yellow 10%, green 20%);
}

.caja8 {
    background: radial-gradient(red, yellow, green);
    border-radius: 100px;
}

.caja9 {
    background: radial-gradient(red 5%, yellow 10%, green 60%);
}

.caja10 {
    background: radial-gradient(circle, red, yellow, green);
}

.caja11 {
    background: linear-gradient(red, yellow, green);
}